tmp*
[0-9]*
__pycache__/
*.backup
.Rhistory
.*

# an appropriate version of inchempy needs to be coppied over from another source before use
# this needs to be done manually as we don't want to use a submodule
inchempy/
